.logo-pos {
  margin: 0 auto;
  top: 49px;
  bottom: 0;
  left: 49px;
  right: 0;
}

.sidenav .user-view {
  padding: 108px 32px 0px !important;
  margin-bottom: 75px !important;
  position: unset !important;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}
